@import '../index.sass'

$center: translate(-50%,-50%)

.header 
    width: 100vw 
    height: 100vh
    display: flex 
    justify-content: flex-start
    align-items: center 
    align-content: center 
    flex-wrap: wrap
    perspective: 1000px
    transform-style: preserve-3d
    opacity: 0
    animation: mainSectionFadeIn 1s linear forwards
    overflow: hidden
    @keyframes mainSectionFadeIn 
        100% 
            opacity: 1
    h1 
        width: 100%
        margin-left: 100px
        margin-bottom: 20px
        font-size: 100px
        display: flex
        @media (max-width: 1000px)
            margin-left: 20px 
            font-size: 50px
        @media (max-width: 550px)
            font-size: 33px
        @media (max-width: 400px)
            font-size: 45px
        @keyframes changingLanguage 
            0% 
                color: #000 
            100% 
                color: #fff
        span 
            transform: translate(40vw, -40vh) translateZ(700px) scale(4)
            @keyframes letterAppear 
                0% 
                    opacity: 0
                100% 
                    transform: none
                    opacity: 1
       
    .skill 
        position: fixed 
        width: auto
        margin: 0
        padding: 0 10px
        font-size: 70px
        color: #000
        z-index: 1
        opacity: 0
        overflow: hidden
        animation: addOpacity .1s forwards 3.5s
        @media (max-width: 1000px)
            font-size: 37px
        @media (max-width: 550px)
            font-size: 30px
        @keyframes addOpacity 
            100% 
                opacity: 1
    .skill1 
        bottom: 10vh
        left: 0

    .skill2
        bottom: 25vh
        right: 0
        transform-origin: right center

    .skill3 
        top: 20vh
        left: 0

           
.whiteBackground 
    position: fixed 
    width: 90vw 
    height: 80px 
    bottom: 8vh 
    left: -2px
    background-color: rgba(255,255,255,.9)
    z-index: -1
    opacity: 0
    animation: bgAppear .3s forwards 4.5s, moveBackground 7s infinite 5.6s
    @media (orientation: portrait)
        animation: bgAppear .3s forwards 4.5s, moveBackgroundOnMobiles 7s infinite 5.6s
    @keyframes bgAppear 
        100% 
            opacity: 1
    @keyframes moveBackgroundOnMobiles
        33% 
            left: -2px
            bottom: 70vh
        66% 
            left: 12vw 
            bottom: 23vh
        100% 
            left: -2px 
            bottom: 8vh
    @keyframes moveBackground
        33% 
            left: -2px
            bottom: 70vh
        66% 
            left: 50vw
            bottom: 23vh
        100% 
            left: -2px 
            bottom: 8vh
    @media (min-width: 500px)
        height: 45px
        width: 80vw
    @media (min-width: 1000px)
        height: 80px
    @media (min-width: 1400px)
        height: 110px
        width: 50vw

.letter 
    position: fixed 
    font-weight: bold 
    font-size: 100px
    @media (max-width: 1000px)
        font-size: 60px
    @media (max-width: 550px)
        font-size: 33px
    @media (max-width: 400px)
        font-size: 38px

@keyframes letterMove1
    100% 
        transform: translate(20vw, 20vh)
        opacity: 0
@keyframes letterMove2
    100% 
        transform: translate(20vw, -20vh)
        opacity: 0
@keyframes letterMove3
    100% 
        transform: translate(-20vw, 20vh)
        opacity: 0
@keyframes letterMove4
    100% 
        transform: translate(-20vw, -20vh)
        opacity: 0
    