@import '../index.sass'
    
.loadingScreen
    position: fixed
    top: 0
    left: 0
    width: 100vw 
    height: 100vh
    z-index: 500000
    background-size: 450px
    background-position: center
    background-repeat: no-repeat
    background-color: #fff
    background-attachment: fixed
    // animation: loading 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 
    animation: loading 1.2s linear
    @media (max-width: 1024px)
        background-size: 300px
    @keyframes loading 
        0% 
            top: 110vh
        30% 
            top: 0
        70%
            top: 0
        100% 
            top: -110vh
