// colors 
$dark: #1c1b1b
$dark2: #1a1a1b
$blue1: #4ab6e0
$blue2: #3b7cd1
$blue3: #661fc2
$blue4: #a114c4

$red: #af0404
$redHover: #ff0000
$newRed: #b01c33
$newRed2: #86003c
* 
    margin: 0
    padding: 0
    box-sizing: border-box 
    // text-transform: uppercase
    
=flexCenter()
    display: flex 
    justify-content: center 
    align-items: center
    align-content: center 
    flex-wrap: wrap



html 
    overflow-x: hidden

body 
    min-height: 100vh
    overflow-x: hidden
    background-color: $dark2
    font-family: 'Rubik', sans-serif
    color: #fff
    +flexCenter()
    perspective: 400px 
    // h1 
    //     transition: 1s 
    //     // transform-origin: left center
    //     &:hover 
    //         // transform: rotateY(40deg)
    // h1:nth-of-type(1)
    //     animation: float 30s linear infinite
    //     @keyframes float 
    //         20% 
    //             transform: rotate(3deg) rotateY(3deg) translateY(-15px)
    //         40%
    //             transform: rotate(-3deg) rotateY(-3deg) translateY(-20px)
    //         60%
    //             transform: rotate(-3deg) rotateY(3deg) translateY(-15px)
    //         80%
    //             transform: rotate(3deg) rotateY(-3deg) 
    //         100% 
    //             transform: none


.button
    padding: 4px 8px
    // border: 3px solid black
    border: none
    border-radius: 4px
    background-color: transparent
    box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24)
    color: #fff
    text-transform: uppercase
    letter-spacing: 1.2px
    cursor: pointer
    font-size: 20px
    position: fixed 
    top: 50% 
    right: 250px
    transition: .4s
    &:hover 
        // box-shadow: 0 14px 28px rgba(255,255,255,0.25), 0 10px 10px rgba(255,255,255,0.22)
        box-shadow: 0 1px 13px rgba(255,255,255,0.12), 0 1px 12px rgba(255,255,255,0.24)
        letter-spacing: 1.4px


.testDiv 
    position: fixed 
    left: 250px
    bottom: 140px 
    width: 200px
    height: 200px 
    transition: 1s
    background-color: $newRed
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
    // background-color: #fff
    transform: rotateX(5deg) rotateY(5deg)
    animation: cardFloat 10s linear infinite
    @keyframes cardFloat 
        25% 
            transform: rotateX(5deg) rotateY(-5deg) translateY(-20px) 
        50% 
            transform: rotateX(-5deg) rotateY(-5deg) translateY(-40px)
        75%
            transform: rotateX(-5deg) rotateY(5deg) translateY(-20px)
        100%
            transform: rotateX(5deg) rotateY(5deg) translateY(0px)
    &:hover 
        animation: none
        transform: rotateY(180deg)

.floatingDiv 
    position: fixed
    left: 45%
    bottom: 15%
    width: 300px
    height: 200px 
    perspective: 1000px
    transition: 1s linear
    transform-style: preserve-3d
    transform: rotateX(8deg) rotateY(8deg)
    animation: cardFloat 10s linear infinite
    @keyframes cardFloat 
        25% 
            transform: rotateX(8deg) rotateY(-8deg) translateY(-10px) 
        50% 
            transform: rotateX(-8deg) rotateY(-8deg) translateY(-20px)
        75%
            transform: rotateX(-8deg) rotateY(8deg) translateY(-10px)
        100%
            transform: rotateX(8deg) rotateY(8deg) translateY(0px)
    .project 
        position: relative 
        width: 200px
        height: 300px
        transition: 1s
        transform-style: preserve-3d
        transform: translateZ(-5px)
        .projectFace 
            position: absolute
            backface-visibility: visible
            +flexCenter()
            background-color: rgba(0,0,0,.8)
            color: #fff
            border: 2px solid white
            border-radius: 8px
        .projectFaceBack, .projectFaceFront
            width: 300px 
            height: 200px
        .projectFaceRight, .projectFaceLeft
            width: 20px 
            height: 200px
            left: 135px
        .projectFaceTop, .projectFaceBottom
            width: 300px 
            height: 20px
            top: 85px
        .projectFaceFront 
            transform: rotateY(  0deg) translateZ( 10px)
        .projectFaceBack
            transform: rotateY(  180deg) translateZ( 10px)
        .projectFaceRight 
            transform: rotateY(  90deg) translateZ( 155px)
        .projectFaceLeft
            transform: rotateY(  -90deg) translateZ( 145px)
        .projectFaceTop 
            transform: rotateX(  90deg) translateZ( 95px)
        .projectFaceBottom 
            transform: rotateX(  -90deg) translateZ( 105px)
            
.project.active 
    transform: rotateY(180deg)
.floatingDiv2
    left: 100px 
    top: 100px 
    animation-delay: 2s
.floatingDiv3
    left: 1350px 
    top: 200px 
    animation-delay: 3s
.floatingDiv4
    left: 200px 
    top: 700px 
    animation-delay: 5s
.floatingDiv5
    left: 650px 
    top: 100px 
    animation-delay: 6s

.particlesDiv 
    position: fixed 
    top: 0
    left: 0
    width: 100vw
    height: 100vh 
    background-color: #1a1a1d
    z-index: 50000
    .particle
        position: absolute 
        border-radius: 50%
        transition: 1s
        opacity: 0
        background-color: #950740
        background-color: #fff
        @keyframes particle1
            20% 
                opacity: 1
            100% 
                transform: translate(20vw, 10vh)
        @keyframes particle2 
            10% 
                opacity: 1
            100% 
                transform: translate(10vw, -20vh)
        @keyframes particle3 
            10% 
                opacity: 1
            100% 
                transform: translate(-20vw, 10vh)
        @keyframes particle4 
            20% 
                opacity: 1
            100% 
                transform: translate(-10vw, 20vh)